/* You implement */
body {
    background-color: white;
    
    display: flex;
    justify-content: center;

}

#main{
    /* position in relative so child container can be modified */
    position: relative;

    border: 0.7rem solid green;
    background-image: url(images/JimHenson.jpg);
    background-attachment:scroll;
    background-size: cover;

    width: 100vh;
    height: 100vh;
}

.h1-box{
    margin: 0rem 0rem 0rem 0.5rem;
}

.h1-box u{    
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 70px;
    color: azure;

}

#center-box {
    border: 0.15rem solid black;
    background-color: rgb(211,211,211, 0.8);

    display: block;
    text-align: center;

    width: 20rem;
    height: 4rem;

    position: absolute;
    top: 50%;
    left: 25%;
}

.link-css{
    color: white;
    font-size: 20pt;
} 

.link-css:hover {

}

.footer-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
    border: 0.5rem solid rgb(144, 211, 211);
    position:absolute;
    bottom:0;
    width:98%;

    display: flex;
    justify-content: center;

    padding-top: 10px;
}

#footer {
    /* box css */
    position: absolute;
    border: 0.4rem solid rgb(177, 172, 172);
    border-style:ridge;
    background-color: red;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 


    /* text css */
    color: white;
    text-decoration: underline;
    text-align: center;
}

.form-box {
    color: white;
}